<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="footer">
    <!-- Mainly scripts -->
    <script th:src="@{/js/jquery-2.1.1.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.js}"></script>
    <script th:src="@{/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
    <script th:src="@{/js/plugins/slimscroll/jquery.slimscroll.min.js}"></script>
    <!-- Custom and plugin javascript -->
    <script th:src="@{/js/inspinia.js}"></script>
    <script th:src="@{/js/plugins/pace/pace.min.js}"></script>
    <!-- jQuery UI -->
    <script th:src="@{/js/plugins/jquery-ui/jquery-ui.min.js}"></script>
    <th:block layout:fragment="scripts"/>
</th:block>
</html>