<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<th:block th:fragment="sidebar">
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav metismenu" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element">
                        <span>
<!--                            <img th:src="@{${user.getImages().path}" class="img-circle user-avatar" alt="User Image">-->
                            <img alt="image" class="img-circle" th:src="@{/img/profile_small.jpg}"/>
                             </span>
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">

                            <span class="clear">
                                <span class="block m-t-xs">
                                    <strong class="font-bold">

                                        <span sec:authorize="isAuthenticated()" style="display: inline-block;">
                                        <span sec:authentication="principal.name"></span>
                                 </span>
                                    </strong>
                             </span>

                                <span sec:authorize="isAuthenticated()" style="display: inline-block;"
                                      class="text-muted text-xs block"><span
                                        sec:authentication="principal.authorities"></span>
                                    <b class="caret"></b>
                                </span>
                            </span>
                        </a>
                        <ul class="dropdown-menu animated fadeInRight m-t-xs">
                            <li><a href="profile.html">Profile</a></li>
                            <li><a href="contacts.html">Contacts</a></li>
                            <li><a href="mailbox.html">Mailbox</a></li>
                            <li class="divider"></li>
                            <li><a href="login.html">Logout</a></li>
                        </ul>
                    </div>
                    <div class="logo-element">
                        IN+
                    </div>
                </li>
                <li th:each="m:${menulist}">
                    <a th:href="@{${m.url}}"><i th:class="${m.icon}"></i> <span class="nav-label" th:text="${m.title}"></span>
                        <span class="fa arrow" th:if="${m.children!=null and m.children.size() > 0}"></span>
                    </a>

                    <ul class="nav nav-second-level"
                        th:if="${m.children!=null and m.children.size() > 0}">
                        <li th:each="child: ${m.children}">
                            <a th:href="@{${child.url}}" th:text="${child.title}"></a></li>
                    </ul>

<!--                    <ul class="nav nav-second-level">-->
<!--                        <li><a href="index.html">Dashboard v.1</a></li>-->
<!--                        <li class="active"><a href="dashboard_2.html">Dashboard v.2</a></li>-->
<!--                        <li><a href="dashboard_3.html">Dashboard v.3</a></li>-->
<!--                        <li><a href="dashboard_4_1.html">Dashboard v.4</a></li>-->
<!--                        <li><a href="dashboard_5.html">Dashboard v.5 <span-->
<!--                                class="label label-primary pull-right">NEW</span></a></li>-->
<!--                    </ul>-->
                </li>
               </ul>

        </div>
    </nav>
</th:block>
